# Example .env
# REDIS_URL="redis://localhost:6379" unused
APP_URL="http://localhost:5173"
DATABASE_URL="pg://postgres:password@localhost:5432/foxfire" # set the password, run CREATE DATABASE foxfire;, then bunx drizzle-kit generate && bunx drizzle-kit migrate
BETTER_AUTH_SECRET= # openssl rand -base64 32