# Example .env
DATABASE_URL="pg://postgres:password@localhost:5432/foxfire" # set the password, run CREATE DATABSE foxfire;, then bunx drizzle-kit generate && bunx drizzle-kit migrate
REDIS_URL="redis://localhost:6379"
APP_URL="http://localhost:5173"