@import "tailwindcss";
@import "./shad.css";

main {
	min-height: 100vh;
	padding-top: 5rem;
	max-width: min(1000px, calc(100vw - 2rem));
	margin-inline: auto;
	border-inline: solid 1px var(--color-border);
}
