nav {
	position: fixed;
	background-color: var(--color-background);

	top: 0;
	left: 0;
	right: 0;

	border-block: solid 1px var(--color-border);
	display: grid;
	grid-template-columns: 1fr auto 1fr;
	height: 3.25rem;
	justify-content: space-between;
}

nav span {
	display: flex;
	flex-direction: row;
}

nav > span:first-child {
	justify-self: start;
}

nav > span:last-child {
	justify-self: end;
}

@media (min-width: 512px) {
	nav {
		margin-top: var(--topbar-margin);
		padding-inline: calc(var(--rail-inset) + (var(--rail-width)));
	}
}
