nav {
	position: fixed;
	background-color: var(--color-background);

	top: 0;
	left: 0;
	right: 0;

	border-block: solid 1px var(--color-border);

	display: flex;
	justify-content: space-between;
	align-content: center;
	margin-top: 1.75rem;
	height: 3.25rem;

	padding-inline: max(1rem, calc((100vw - 1000px) / 2));
}

nav > span:first-child {
	justify-self: start;
}

nav > span {
	justify-self: start;
}

nav > span > button {
	border-left: solid 1px var(--color-border);
}

nav > span > button:last-child {
	border-right: solid 1px var(--color-border);
}

nav > span:last-child > button {
	border-left: solid 1px var(--color-border);
}

nav > span:last-child > button:last-child {
	border-right: none;
}

nav::after {
	position: absolute;
	content: "";
	inset: 0;
	max-width: min(1000px, calc(100vw - 2rem));
	margin-inline: auto;
	border-inline: solid 1px var(--color-border);
	pointer-events: none;
}
